@font-face{
	font-family: TT Travels Next ExtraBold;
	src: url(fonts/TT_Travels_Next_ExtraBold.ttf);
	font-family: CircularStd-Medium;
	src: url(fonts/CircularStd-Medium.otf);
}

:root {
	--primary-color: #F28D35; /*orange*/
	--secondary-color: #FFF3EB; /*beige*/
	--terciary-color: #BD5BF8; /*purple*/
}

html, body, header, footer {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0px;
}

body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

body{
	font-family: 'TT Travels Next ExtraBold';
	background-color: var(--secondary-color);
}

.fixedTicketButton {
  position: fixed;
	background-color: var(--terciary-color);
	border: 4px solid var(--secondary-color);
	width: 10%;
	padding: 5px;
	top: 87%;
	right: 10px;
	z-index: 99;
	text-align: center;
}

.fixedTicketButton:hover {
	background-color: var(--primary-color);
	border: 4px solid var(--secondary-color);
	transform: rotate(-2deg)
}

.flex {
	display: flex;
}

.title {
	color: var(--primary-color);
  text-align: center; 
}

.mainTitle {	
	font-size: 2.5em;
}

.secondTitle {
  color: var(--primary-color);	
	font-size: 2em;
	text-align: center; 
}

.ticker .scroll {
  display: flex;
  width: 100%;
}

.banner {
  color: var(--secondary-color); 
  transform: rotate(-1.5deg);
}

.bannerDiv {
  display: flex;
	background-color: var(--primary-color);
  font-size: 20px;
	white-space: nowrap;
  animation: animate_text 30s linear infinite;
  margin: -2%
}

.bannerDiv p {
	margin-right: 1rem;
}

@keyframes animate_text {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.navbar {
	background-color: var(--primary-color);
}

.dropbtn {
  color: white;
  background-color: #4CAF50;
  border: none;
  font-size: 16px;
  padding: 16px;
  cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
	padding: 5px;
}

.dropdown:hover {
	background-color: var(--secondary-color);
	transform: rotate(-1.7deg);
	cursor: pointer;
}

.dropdown:hover a {
  color: var(--primary-color);
	background-color: var(--secondary-color);
}

.ticketsColor {
	background-color: var(--terciary-color);
}

.ticketsColor a {
	color: var(--secondary-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

li {
  display: inline-block;
  margin-right: 10px;
}

.news {
	display: block;
	width: 100%;
}

.news a {
	text-decoration: none;
}

.newsDiv {
	display: flex;
	justify-content: center;
	margin: 0px 50px 0px 50px
}

.festivalTitle {
	font-family: TT Travels Next ExtraBold;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  color: var(--terciary-color);
  display: block;
  margin-block-start: -0.17em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.whiteBackground {
  position: relative;
  background: #FFF;
  box-shadow: 2px 2px 2px #00000040;
  max-width: 80%;
  margin-left: 100px;
  padding: 3% 3% 3% 3%;
}

.col {
	background-color: white;
  border: 3px solid var(--terciary-color);
	width: 30%;
	height: 250px;
	margin: 15px;
}

.col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artistInfo {
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
}

.artistName {
  font-size: 2em;
}

.artistDate {
  font-style: italic;
  margin-top: 1.5%;
}

.moreButton {
  position: relative;
  display: inline-block;
  background-color: var(--terciary-color);
	font-size: 1.7em;
	padding: 5px;
}

.moreButton:hover {
  background-color: var(--primary-color);
}

.moreButton:hover a {
	color: var(--secondary-color);
  background-color: var(--primary-color);
}

.newsletterandpartners {
  font-family: 'TT Travels Next ExtraBold';
	display: block;
	width: 100%;
}

.newsletterandpartners p {
  font-family: 'CircularStd-Medium';
	color: black;
}

.mail {
	font-family: 'CircularStd-Medium';
  background-color: aliceblue;
  border-width: 0px;
  padding: 0.75em 1.5em 0.75em 1.5em;
  margin-right: 0.5%;  
}

.subscribe {
  font-family: 'TT Travels Next ExtraBold';
	color: var(--secondary-color);
  background-color: var(--terciary-color);
  border: 0px solid var(--terciary-color);
	padding: 0.75em 1.5em 0.75em 1.5em;
}

.subscribe:hover {
  background-color: var(--primary-color);
	cursor: pointer;
}

.filter {
	color: var(--terciary-color);
  border-top: 2px solid var(--terciary-color);
  border-bottom: 2px solid var(--terciary-color);
	display: flex;
  align-items: center;
  margin-left: 6%;
  margin-right: 6%;
  justify-content: center;
}

.filter div {
  margin-right: 3%;
}

.expendDiv {
	font-family: CircularStd-Medium;
	font-size: 1.02em;
  color: var(--primary-color);
  border: 2px solid var(--terciary-color);
	text-align: center;
  margin: 0% 18% 2% 18%;
}

#expendFirst, #expendSecond, #expendThird {
  display:none;  
}

#expendFirst + .textDesc, #expendSecond + .textDesc, #expendThird + .textDesc {
  max-height:52px;
  overflow:hidden;
  transition:all .3s ease;
}

#expendFirst:checked + .textDesc, #expendSecond:checked + .textDesc, #expendThird:checked + .textDesc {
  max-height:800px;
}

.textExpend {
  padding: 0% 8% 1%;
}

label {
  cursor:pointer;
}

label:hover {
  text-decoration:none;  
}

.copyright {
	font-family: CircularStd-Medium;
}